@model ProjectManager.Models.ProjectModel

@{
    ViewData["Title"] = "CreateProject";
}

<div class="container">
    <form asp-action="CreateProject" class="form-container">
        <div class="row">
            <div class="col-12 col-md-9 pb-5 pt-5">
                <div class="card p-2">
                    <div class="form-group">
                        <label class="sr-only" asp-for="Name">Project Name (required)</label>
                        <input asp-for="Name" class="form-control" type="text" required placeholder="Project Name"
                            style="font-size: larger;" />
                    </div>
                    <div class="form-group">
                        <label class="sr-only" asp-for="Description">Description (required)</label>
                        <textarea class="form-control" asp-for="Description" rows="10" required
                            placeholder="Project Description"></textarea>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3 col-12">
                            <label class="sr-only" asp-for="Source">Source</label>
                            <input class="form-control" asp-for="Source" type="text"
                                placeholder="Source of the project idea" />
                        </div>

                        <div class="col-md-3 col-12">
                            <label class="sr-only" asp-for="Type">Type *</label>
                            <select class="form-control" asp-for="Type" type="text" required>
                                <option value="">-- Select --</option>
                                <option value="0">Full Stack</option>
                                <option value="1">Backend</option>
                                <option value="2">Mobile</option>
                                <option value="3">Frontend</option>
                                <option value="4">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-success">Create Project</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 pb-5 pt-5">
                <div style="font-size:smaller">
                    <div class="row">
                        <span class="col-6" style="line-height: 2em;">
                            User Stories
                            <br>
                            None Yet
                        </span>
                        <div class="text-right col-6">
                            <button class="fas fa-edit"
                                style="font-size: medium;background-color:transparent;border:none;" type="button"
                                data-toggle="modal" data-target="#modal"></button>
                        </div>
                        <div id="UserStoriesGroup" class="d-none"></div>
                    </div>
                    <hr>
                </div>
                <div style="font-size:smaller">
                    <div class="row">
                        <span class="col-6" style="line-height: 2em;">
                            Examples
                            <br>
                            None Yet
                        </span>
                        <div class="text-right col-6">
                            <button class="fas fa-edit"
                                style="font-size: medium;background-color:transparent;border:none;" type="button"
                                data-toggle="modal" data-target="#modal" onclick="populateModal(getChildInputElements(document.getElementById('ExamplesGroup')), document.getElementById('ExamplesGroup'))"></button>
                        </div>
                        <div id="ExamplesGroup" class="d-none"></div>
                    </div>
                    <hr>
                </div>
                <div style="font-size:smaller">
                    <div class="row">
                        <span class="col-6" style="line-height: 2em;">
                            Steps
                            <br>
                            None Yet
                        </span>
                        <div class="text-right col-6">
                        <button class="fas fa-edit"
                                style="font-size: medium;background-color:transparent;border:none;" type="button"
                                data-toggle="modal" data-target="#modal"></button>
                        </div>
                        <div id="StepsGroup" class="d-none"></div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="p-2 container" id="modalBody">
                    <div id="items"></div>
                </div>
            </div>
        </div>
    </div>
</div>