@model ProjectManager.Models.ProjectModel

@{
    ViewData["Title"] = "CreateProject";
}

<div class="container">
    <form asp-action="CreateProject" class="form-container">
        <div class="row">
            <div class="col-12 col-md-9 pb-5 pt-5">
                <div class="card p-2 container">
                    <div class="form-group">
                        <label class="sr-only" asp-for="Name">Project Name (required)</label>
                        <input asp-for="Name" class="form-control" type="text" required placeholder="Project Name"
                            style="font-size: larger;" />
                    </div>
                    <div class="form-group">
                        <label class="sr-only" asp-for="Description">Description (required)</label>
                        <textarea class="form-control" asp-for="Description" rows="10" required
                            placeholder="Project Description"></textarea>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3 col-12">
                            <label class="sr-only" asp-for="Source">Source</label>
                            <input class="form-control" asp-for="Source" type="text"
                                placeholder="Source of the project idea" />
                        </div>

                        <div class="col-md-3 col-12">
                            <label class="sr-only" asp-for="Type">Type *</label>
                            <select class="form-control" asp-for="Type" type="text" required>
                                <option value="">-- Select --</option>
                                <option value="0">Full Stack</option>
                                <option value="1">Backend</option>
                                <option value="2">Mobile</option>
                                <option value="3">Frontend</option>
                                <option value="4">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-success">Create Project</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>