@model ProjectManager.Models.ProjectModel

@{
    ViewData["Title"] = "CreateProject";
}

<div class="container-flex"  style="background-color: #2b353f;color: white;">
    <form asp-action="CreateProject" class="form-container">
        <div class="col-10 p-5 container" style="background-color: #2b353f;color: white;">
            <h1>Create a project</h1>
            <span class="label-input100" asp-for="Name">Project Name *</span>
            <div class="wrap-input100 validate-input bg1">
                <input asp-for="Name" class="input100" type="text" required placeholder="Enter a Project Name" />
            </div>
            <div class="row">
                <div class="col-md-6 col-12">
                    <span class="label-input100" asp-for="Source">Source</span>
                    <div class="wrap-input100 validate-input bg1">
                        <input class="input100" asp-for="Source" type="text" placeholder="Source of the project idea" />
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <span class="label-input100" asp-for="Type">Type *</span>
                    <div class="wrap-input100 validate-input bg1">
                        <select class="input100" asp-for="Type" type="text" required>
                            <option value="">-- Select --</option>
                            <option value="0">Full Stack</option>
                            <option value="1">Backend</option>
                            <option value="2">Mobile</option>
                            <option value="3">Frontend</option>
                            <option value="4">Other</option>
                        </select>
                    </div>
                </div>
            </div>
            <span class="label-input100">Message</span>
            <div class="wrap-input100 validate-input bg1 rs1-alert-validate" asp-for="Description">
                <textarea class="input100" asp-for="Description" rows="10" required placeholder="Project Description"></textarea>
            </div>
            <div class="text-right">
                <button class="btn btn-success">Create</button>
            </div>
        </div>
    </form>
</div>

